/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Photo Section */
.photo-container {
    text-align: center;
}

.entete-single {
    display: flex;
    flex-direction: row;
}

.related-photo {
    display: inline-block;
    margin: 10px;
}

/* Header Styles */
.site-header {
    background-color: #f8f9fa; /* Light background for the header */
    padding: 1rem 2rem;
    border-bottom: 1px solid #e0e0e0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styles */
.site-logo {
    margin-left: 100px;
}

.site-logo img {
    max-height: 20px;
    display: block;
}

/* Navigation Styles */
.site-nav {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
    gap: 30px;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
}

.main-menu a:hover {
    color: #0073aa; /* WordPress blue for hover */
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
    display: none; /* Hidden by default */
}

.modal-content {
    background-color: #7e739b;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%; /* Adjust modal width */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
